@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701&display=swap');
@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Satoshi", "sans-serif";
    --color-primary: #5809fc;
    --color-secondary: #e1ff00;
    --animate-spin: spin 4s linear infinite;
}

[animate-in] {
    opacity: 0;
  }