@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701&display=swap');
@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Satoshi", "sans-serif";
    --color-primary: #5809fc;
    --color-secondary: #e1ff00;
    --animate-spin: spin 4s linear infinite;
    --spacing-8xl: 86rem;
    --spacing-9xl: 94rem;
}

[animate-in] {
    opacity: 0;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* body {
    background-color: #f9fafb;
    overflow-x: hidden;
} */